<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270427668596-b0dagrsv4jsvqj16erus0b0k2q3ja417.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270427668596-b0dagrsv4jsvqj16erus0b0k2q3ja417</string>
	<key>API_KEY</key>
	<string>AIzaSyBp1ybSjLkZcxWLiqNTzK9phFP7BMpqmRw</string>
	<key>GCM_SENDER_ID</key>
	<string>270427668596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fbla.twine</string>
	<key>PROJECT_ID</key>
	<string>twine-almagear</string>
	<key>STORAGE_BUCKET</key>
	<string>twine-almagear.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270427668596:ios:d6100bbc671a57447d5121</string>
</dict>
</plist>